.library
  padding-top: 45px
  &-wrapper
    display: flex
    justify-content: space-between
  &-recommendations
    max-width: 751px
    max-height: 930px
    padding-right: 3px //придумать другой способ, если будет время
  &__title
    margin-top: 0
    font-family: 'Roboto Condensed', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 32px
    line-height: 40px
    letter-spacing: 0.2px
    color: $text-color
    margin-bottom: 30px    
.recomm
  &__cover
    border-radius: 8px
  &-books
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    &__item
      display: flex 
      // justify-content: space-between
      width: 358px
      max-height: 260px
      border: 1px solid $border
      border-radius: 8px
      padding: 11px
      margin-bottom: 32px
    &__item:nth-child(5)
      margin-bottom: 27px
    &__item:nth-child(6)
      margin-bottom: 27px
    &__morerecomm
      width: 100%
      height: 72px
      background: rgba(21, 101, 216, 0.1)
      border-radius: 8px
      justify-content: center
      padding: 23px 283px 26px 283px 
    &__morelink
      text-decoration: none
      font-family: Roboto Condensed
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 20px
      align-items: center
      text-transform: uppercase
      letter-spacing: 0.2px
      color: $main-blue
.library
  &-books
    &__info
      padding-top: 13px //24
      padding-bottom: 15px
    &__name
      font-family: 'Roboto', sans-serif
      font-style: normal
      font-weight: 500
      font-size: 22px
      line-height: 32px
      // letter-spacing: 0.2px
      color: $text-color
      margin: 0 0 0 20px 
    &__genre
      font-family: 'Open Sans', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 22px
      color: $text-color
      margin-top: 16px //16
      margin-bottom: 24px //24
      margin-left: 20px 
    &__price
      font-family: 'Roboto Condensed', sans-serif
      font-style: normal
      font-weight: bold
      font-size: 20px
      line-height: 24px
      letter-spacing: 0.2px 
      color: $main-blue
      margin-bottom: 26px //26
      margin-left: 20px 
    &__option
      display: flex
      align-items: center
      margin-left: 18px //20
    &__button
      background: $text-color
      border-radius: 2000px
      border: none
      color: white
      padding: 7px 20px
      font-family: 'Open Sans', sans-serif
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 22px
      text-align: center
      margin-right: 22px


.best
  &__cover
    border-radius: 8px
  &-books
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    background-color: $background
    max-width: 360px
    border-radius: 8px
    padding: 24px
    &__item
      display: flex 
      // justify-content: space-between
      max-width: 312px
      max-height: 178px
      margin-bottom: 36px
    &__item:nth-child(4)
      margin-bottom: 18px
    &__info
      padding: 8px 0
    &__name
      margin-left: 25px
      margin-bottom: 15px
    &__price
      margin-left: 25px
    &__button
      margin-top: 22px
      margin-left: 25px
    &__underline
      width: 312px
      opacity: 0.1
      color: $border
      margin-bottom: 0
    &__namesection
      justify-content: center
      font-family: Roboto Condensed
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 20px
      align-items: center
      text-transform: uppercase
      background: transparent
      letter-spacing: 0.2px
      color: $main-blue
      margin: 24px auto 0
